<h1 class="text-4xl md:text-6xl text-center mt-10 md:mt-20 font-semibold text-subtle">Projects</h1>
<section class="grid grid-cols-1 gap-12 mt-24 mb-10">
  @for (yearGroup of sortedProjectsByYear(); track yearGroup.year) {
  <div class="flex flex-col justify-center items-start gap-6">
    <h1 class="f-outline text-4xl md:text-6xl text-subtle">{{ yearGroup.year }}</h1>
    @for (project of yearGroup.projects; track project.title) {
    <app-project-card [project]="project" />
    }
  </div>
  }
</section>
