---
import { ClientRouter } from "astro:transitions";

const {
  title = "Rohan Salunkhe | Full-Stack Developer",
  description = "Welcome to the personal website of Rohan Salunkhe, a passionate Full-Stack Developer. Explore my projects, development expertise, and innovative solutions built using modern technologies.",
} = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={description} />
  <title>{title}</title>
  <ClientRouter />
</head>
