---
import Navbar from "../components/Navbar.astro";
import BaseHead from "./BaseHead.astro";
---

<!doctype html>
<html lang="en">
  <BaseHead {...Astro.props} />
  <body class="bg-background">
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap");

  html,
  body {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto Condensed", sans-serif;
  }
</style>
